body {
  display: flex;
  flex-wrap: wrap;
}

div {
  display: flex;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 5em;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;

  background-color: darkgrey;
  margin: 10px;
}
