#main-container {
  display: flex;
  flex-wrap: wrap;
}

div.box {
  display: flex;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 5em;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 220px;

  background-color: darkgrey;
  margin: 10px;
}
